<%@LANGUAGE="VBSCRIPT" CODEPAGE="1252"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>SEZER MOTEL</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>

<body bgcolor="#CBDFC5" leftmargin="0" topmargin="00" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('imaj/images/giris2_02.gif','imaj/images/giris2_03.gif','imaj/images/giris2_04.gif')" >
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="27%" height="82">&nbsp;</td>
    <td width="9%">&nbsp;</td>
    <td width="26%" background="imaj/girisbg.gif">&nbsp;</td>
    <td width="38%">&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="4">&nbsp;</td>
    <td>&nbsp;</td>
    <td height="140"><img src="imaj/images/giris_01.gif" width="253" height="140"></td>
    <td rowspan="4">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="20"><a href="main.htm"><img src="imaj/images/giris_02.gif" name="Image1" width="253" height="43" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','imaj/images/giris2_02.gif',1)" onMouseOut="MM_swapImgRestore()"></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="19"><a href="http://www.sezerinsaat.com/index.asp" target="_blank"><img src="imaj/images/giris_03.gif" name="Image2" width="253" height="38" border="0" id="Image2" onMouseOver="MM_swapImage('Image2','','imaj/images/giris2_03.gif',1)" onMouseOut="MM_swapImgRestore()"></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td height="91"><a href="http://www.sezerinsaat.com/depo.asp" target="_blank"><img src="imaj/images/giris_04.gif" name="Image3" width="253" height="91" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','imaj/images/giris2_04.gif',1)" onMouseOut="MM_swapImgRestore()"></a></td>
  </tr>
  <tr>
    <td height="429">&nbsp;</td>
    <td>&nbsp;</td>
    <td background="imaj/girisbg.gif">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
