<%@LANGUAGE="VBSCRIPT" CODEPAGE="1254"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>OLİN</title>
<meta http-equiv="content-language" content="TR">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="Edirne Yağ Sanayi Ticaret A.Ş">
<meta name="keywords" content="...">
<meta name="creator" content="EYS Bilgi İşlem (ersan@olin.com.tr)">
<meta name="author" content="EYS Bilgi İşlem (ersan@olin.com.tr)">
<meta name="audience" content="All">
<meta name="publisher" content="Olin">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta http-equiv="imagetoolbar" content="no">
<link href="olin.css" rel="stylesheet" type="text/css">
</head>
<body background="arkafon.gif">
<table cellpadding="0" cellspacing="0" border="0" style="width:100% ">
	<tr>
		<td valign="top" style="width:100% " height="800">
			<table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100% ">
				<tr>
					<td valign="top" style="width:50%; height:100% ">						
						<table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100% ">
							<tr>
								<td valign="top" style="width:100%; height:394px; background-image:url('arkafon.gif') "></td>
							</tr>
							<tr>
								<td valign="top" style="width:100%; height:100% ; background-color:#E3D9CE" background="arkafon.gif"></td>
							</tr>
							</table>				  </td>
					<td valign="top" style="width:766px; height:100% ">
						<table cellpadding="0" cellspacing="0" border="0"  align="center" width="766">
							<tr>	
							  <td valign="top" width="766" height="800">
								<table cellpadding="0" cellspacing="0" border="0" height="791">
									<tr>
										<td valign="top" width="766" height="21" style="background-image:url('ust.jpg') ">
										<p align="right"><b>
										<a href="english.html">
										<font color="#7E7E7E" size="2">English</font></a><font color="#8D381D" size="2">&nbsp;&nbsp; </font><font style="font-size: 11pt">
										&nbsp;</font></b></td>
									</tr>
									<tr>
										<td valign="top" width="766" height="395" style="background-image:url(images/bg-1.gif) ">
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
													<td valign="top" width="267" height="395" style="background-image:url(images/m_bg.jpg) ">								
													</td>
													<td valign="top" width="499" height="395">
														<table cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
															<tr>
																<td valign="top" width="499" height="296" style="background-image:url(images/p1.jpg) ">
																&nbsp;</td>
															</tr>
															<tr>
																<td valign="top" width="499" height="99">
																	<table cellpadding="0" cellspacing="0" border="0" width="499" background="ustorta.jpg">
																		<tr>
																			<td valign="top" width="112" height="99">
																			<p align="center">
																			<img border="0" src="images/urunlerust.jpg" width="110" height="96"></td>
																			<td valign="top" width="336" height="99">
																			<b>
																			<br>
																			<font color="#003300">Olin&#39; in 
																			Lezzet 
																			Sırrı</font><br>
																			</b>
																			<font color="#565559">
																			<a href="lezzetsirri.html">
																			<font color="#565559">Bugün 
																			beş 
																			kıtada, 
																			beş 
																			ayrı 
																			ağız 
																			tadında 
																			aynı 
																			ürün 
																			kullanılıyor;</font></a></font><a href="lezzetsirri.html"><font color="#565559">
																			</font>
																			<b>
																			<font color="#003300">Olin.</font></b><font color="#565559"> Lezzetin 
																			tüm 
																			bu 
																			farklı 
																			kültürlerde 
																			aynı 
																			sözcükle,
																			</font>
																			<font color="#003300">&nbsp;“</font><b><font color="#003300">Olin</font></b><font color="#003300">”</font><font color="#565559"> ile 
																			ifade edilmesinin 
																			sırrı 
																			ne?</font><br>
																			<b>
																			<font color="#003300">
																			İşin 
																			sırrı 
																			Olin’ in&nbsp; 
																			üretim 
																			felsefesinde 
																			yatıyor.</font></b></a></td>
																			<td valign="top" width="51" height="99">
																			&nbsp;</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
											<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="../../../../download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="479" height="295" style="position:absolute; margin-left:253px; top:21px;">
													<param name="movie" value="flash/header_v7.swf">
													<param name="quality" value="high">
													<param name="wmode" value="transparent">
													<param name="menu" value="false">
													<!--[if !IE]> <-->
													</object>
													<!--> <![endif]-->
													</object>
												<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="../../../../download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="267" height="373" style="position:absolute; top:21px;">
												<param name="movie" value="flash/menu_v7.swf">
												<param name="quality" value="high">
												<param name="menu" value="false">
												<param name="wmode" value="transparent">
												<!--[if !IE]> <-->
												</object>
												<!--> <![endif]-->
											  </object>
										</td>
									</tr>
									<tr>
										<td valign="top" width="766" height="319">
											<table cellpadding="0" cellspacing="0" border="0" background="yan1.jpg">
												<tr>
													<td valign="top" width="35" height="319" background="images/solyan.jpg"></td>
													<td valign="top" width="697" height="319" class="content">
														<table cellpadding="0" cellspacing="0" border="0" style="height:21% ">
															<tr>
																<td valign="top" width="219" height="319" bgcolor="#FFFFFF"><div style="margin:22 15 0 25px ">
																	<img border="0" src="images/olinhaberler.jpg" width="154" height="23"><p>
																	&nbsp;
																	<script type="text/javascript">

/***********************************************
* IFRAME Scroller script- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

//specify path to your external page:
var iframesrc="haber/haber-anasayfa.asp"
//You may change most attributes of iframe tag below, such as width and height:
document.write('<iframe id="datamain" src="'+iframesrc+'" width="180px" height="200px" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>')
</script>
																	&nbsp;<map name="FPMap0"><area href="http://www.olin.com.tr/olin_basket/" shape="rect" coords="3, 2, 188, 65" target="_blank"></map><img border="0" src="genclik.jpg" width="189" height="66" usemap="#FPMap0"></div></td>
																<td valign="top" width="0" style="height:100% ">
																	<table cellpadding="0" cellspacing="0" border="0" style="height:100% ">
																		<tr>
																			<td valign="top" width="1" height="8"></td>
																		</tr>
																		<tr>
																			<td valign="top" width="1" style="height:100%; background-color:#DDDDDD "></td>
																		</tr>
																		<tr>
																			<td valign="top" width="1" height="26"></td>
																		</tr>
																	</table>
																</td>
																<td valign="top" width="220" height="319" bgcolor="#FFFFFF" background="orta.jpg">
																&nbsp;<p>&nbsp;</p>
																<p>&nbsp;</p>
																<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																</p>
																<p>
																<br>
&nbsp;&nbsp;&nbsp; <b><font color="#2f6128">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;İsveç Mutfağı<br>
																&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&quot;Denizci 
																Yahnisi&#39;&#39;</font></b>
																<br>
																<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																<a href="ayinmenusu.html">
																Devamı İçin 
																Tıklayınız</a></p>
																<p><br>
																<br>
																<br>
																<br>
																<br>
																&nbsp;</td>
																<td valign="top" width="0" style="height:100% ">
																	<table cellpadding="0" cellspacing="0" border="0" style="height:100% ">
																		<tr>
																			<td valign="top" width="1" height="8"></td>
																		</tr>
																		<tr>
																			<td valign="top" width="1" style="height:100%; background-color:#DDDDDD "></td>
																		</tr>
																		<tr>
																			<td valign="top" width="1" height="26"></td>
																		</tr>
																	</table>
																</td>
																<td valign="top" width="232" height="319" bgcolor="#FFFFFF">
																<p align="center">
<div style="margin:22 15 0 25px ">
	<p align="center">
	<img border="0" src="images/olinanket.jpg" width="154" height="23"><br>
<iframe 
scrolling ="no"
frameborder ="no"
src ="anket/anket-anasayfa.asp"
width="210" height="208">
</iframe>
																<br>
																	<a href="bayii.asp">
																	<img border="0" src="images/bayiforum.jpg" width="177" height="31"></a><br>
																<br>
																	<a href="iletisimformu.asp">
																	<img border="0" src="images/tuketiciforum.jpg" width="177" height="31"></a><br>
&nbsp;</td>
															</tr>
														</table>
													</td>
													<td valign="top" width="34" height="319" background="yan1.jpg">&nbsp;</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td valign="top" width="766" height="45" background="alt.jpg">
											<table cellpadding="0" cellspacing="0" border="0" height="28">
												<tr>
													<td valign="top" width="495" height="28" class="footer" background="alt.jpg"><div style="margin:15 0 0 55px ">
														©2008 Edirne Yağ Sanayi 
														ve Tic. A.Ş</div></td>
													<td valign="top" width="271" height="28" class="footer" background="alt.jpg"><div style="margin:15 0 0 0px ">
														&nbsp;</div></td>
												</tr>
											</table>
										</td>
									</tr>
									</table>
							  </td>
							</tr>
						</table>
					</td>
					<td valign="top" style="width:50%; height:100% ">
						<table cellpadding="0" cellspacing="0" border="0" style="width:100%; height:100% ">
							<tr>
								<td valign="top" style="width:100%; height:316px; background-image:url('arkafon.gif') ">&nbsp;</td>
							</tr>
							<tr>
								<td valign="top" style="width:100%; height:100% ; background-color:#E3D9CE" background="arkafon.gif"></td>
							</tr>
							</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


</body>
</html>









