<%@ Language=JavaScript %> <HTML>

<HEAD>
  <meta http-equiv="Content-Language" content="tr">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="VI60_defaultClientScript" content="JavaScript">
  <LINK href="anaSekil.css" rel="stylesheet" type="text/css">
  <title>Mağusa Yaşam Hastanesi</title>
  
  <STYLE type="text/css">
  
  P {
	  margin:0 0 0 5px;
	  text-indent:0;
  }
  
  H3 {
	  margin:0 0 0 1px;
	font-family: Arial, Helvetica, sans-serif;
	  font-size:13px;}
	  
  .kucukBaslik{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color:#336699;
    border: 1px solid gray;}
  
  .kucukBaslik A:visited{
	color: white;
	text-decoration:none;
	}	

  .kucukBaslik A:link{
	color: white;
	text-decoration:none;
	}	
	
  .kucukBaslik A:hover{
	color:black;
	background-color:#CCCCCC;
	}	  
  </STYLE>  
	<script language="JavaScript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
  </script>
	</HEAD>
	<meta http-equiv=''keywords'' content=''magusa,yaşam,sağlık,hastane,hizmet,tıp,doktor,ameliyat''>

<BODY bgcolor="#F4F4F4" topmargin="0" style="background-color: #F4F4F4" onload="FP_preloadImgs(/*url*/'button59.jpg', /*url*/'button5A.jpg', /*url*/'button69.jpg', /*url*/'button6A.jpg', /*url*/'button78.jpg', /*url*/'button79.jpg', /*url*/'button87.jpg', /*url*/'button88.jpg', /*url*/'button8D.jpg', /*url*/'button8E.jpg', /*url*/'button90.jpg', /*url*/'button91.jpg', /*url*/'buttonD2.jpg', /*url*/'buttonD3.jpg', /*url*/'button22.gif', /*url*/'button23.gif', /*url*/'button39.gif', /*url*/'button3A.gif', /*url*/'button70.jpg', /*url*/'button71.jpg', /*url*/'button94.gif', /*url*/'button95.gif', /*url*/'button97.gif', /*url*/'button98.gif', /*url*/'button9A.gif', /*url*/'button9B.gif', /*url*/'button9D.gif', /*url*/'button9E.gif', /*url*/'buttonA0.gif', /*url*/'buttonA1.gif', /*url*/'buttonA3.gif', /*url*/'buttonA4.gif', /*url*/'buttonA6.gif', /*url*/'buttonA7.gif', /*url*/'buttonA9.gif', /*url*/'buttonAA.gif', /*url*/'buttonDC.gif', /*url*/'buttonDD.gif')">

<div align="center">

<TABLE  border="0" width="757" valign="top" cellpadding="0" cellspacing="0" style="border-left-width: 0px; border-right-width: 0px; border-top-width: 0px" bgcolor="#F4F4F4">
	<!-- MSTableType="nolayout" -->
	
<!-- Baslik Kismi -->          
  	<TR>
		<TD class="center" style="text-align: justify" valign="top">
		<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="763" height="116">
			<param name="movie" value="flash/bannerhas.swf">
			<param name="quality" value="High">
			<param name="salign" value="TL">
			<param name="wmode" value="transparent">
			<param name="loop" value="false">
			<embed src="flash/bannerhas.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="763" height="116" quality="High" salign="TL" wmode="transparent" loop="false"></object>
		</TD>
	</TR>

<!-- Ara Satir -->  
  	<TR>
		<TD height="18" class="araSatir" bordercolor="#F4F4F4" style="color: #000000; border-bottom-style:solid; border-bottom-width:1px" bgcolor="#F4F4F4" align="center">
		<P align="center">
		<a href="index.htm"><font color="#000000">
		<span style="background-color: #F4F4F4"><font color="#CCCCCC">
		<a href="index.htm">
		<img border="0" id="img1" src="button96.gif" alt="Ana Sayfa" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1" fp-title="Ana Sayfa" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button97.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button96.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button98.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button97.gif')" width="100" height="20"></a></font></span></font></a><a href="klinikler.htm"><span style="background-color: #F4F4F4"><font color="#CCCCCC"><a href="klinikler.htm"><img border="0" id="img2" src="button99.gif" alt="Klinikler" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1" fp-title="Klinikler" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'button9A.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'button99.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'button9B.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'button9A.gif')" width="100" height="20"></a></font></span></a><span style="background-color: #F4F4F4"><font color="#CCCCCC"><a href="medikal_kadro.htm"><img border="0" id="img3" src="button9C.gif" alt="Medikal Kadro" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1; fp-proportional: 0" fp-title="Medikal Kadro" onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'button9D.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'button9C.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'button9E.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'button9D.gif')" width="114" height="20"></a></font></a></span><span style="background-color: #F4F4F4"><a href="anlasmali.htm"><font color="#CCCCCC"><img border="0" id="img4" src="button9F.gif" alt="Anlaşmalı Kurumlar" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1; fp-proportional: 0" fp-title="Anlaşmalı Kurumlar" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'buttonA0.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'button9F.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'buttonA1.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'buttonA0.gif')" width="145" height="20"></font></a></span></a><span style="background-color: #F4F4F4"><a href="galeri.htm"><font color="#CCCCCC"><img border="0" id="img5" src="buttonA2.gif" alt="Galeri" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1" fp-title="Galeri" onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'buttonA3.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'buttonA2.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'buttonA4.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'buttonA3.gif')" width="100" height="20"></font></a></span></a><a href="hakkimizda.htm"><span style="background-color: #F4F4F4"><font color="#CCCCCC"><a href="hakkimizda.htm"><img border="0" id="img6" src="buttonA5.gif" alt="Hakkımızda" onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'buttonA6.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'buttonA5.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'buttonA7.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'buttonA6.gif')" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1" fp-title="Hakkımızda" width="100" height="20"></a></font></span></a><span style="background-color: #F4F4F4"><font color="#CCCCCC"><a href="iletisim.htm"><img border="0" id="img7" src="buttonA8.gif" alt="İletişim" fp-style="fp-btn: Glass Capsule 1; fp-transparent: 1" fp-title="İletişim" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'buttonA9.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'buttonA8.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'buttonAA.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'buttonA9.gif')" width="100" height="20"></a></font></span></a></P></TD>
	</TR>

<!-- Ana (Sol) Menü -->          
      
<!-- Son Kisim -->                  
  
</TABLE>
</div>
<div align="center">
	<table border="0" cellpadding="0" height="677" background="images/BACKG.jpg" style="border-width:0px; ">
		<tr>
			<td height="35" width="600" valign="top" style="border-style:none; border-width:medium; ">
			<table border="1" width="100%" id="table4">
				<tr>
					<td>
					<p align="center">
			<b><font face="Verdana" size="4" color="#FF0000">
			<marquee width="579" scrolldelay="100" scrollamount="5">HOŞGELDİNİZ</marquee></font></b></td>
				</tr>
			</table>
			</td>
			<td style="border-style:none; border-width:medium; " align="center" valign="top" rowspan="2" height="579">
			<table border="1" width="100%" id="table9">
				<tr>
					<td>
			<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj2" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="160" height="122">
				<param name="movie" value="flash/ani.swf">
				<param name="quality" value="High">
				<param name="wmode" value="transparent">
				<embed src="flash/ani.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj2" width="160" height="122" quality="High" wmode="transparent"></object>
					</td>
				</tr>
			</table>
			<table border="1" width="100%" id="table2" height="329">
				<tr>
					<td align="center" valign="top" height="199">
					<img border="0" src="images/ani2.jpg" width="154" height="105"><table border="1" width="100%" id="table8" height="90">
						<tr>
							<td align="center"><b>
							<font color="#FF0000" face="Verdana">
							<img border="0" id="img9" src="button58.jpg" alt="1133" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 14; fp-proportional: 0" fp-title="1133" onmouseover="FP_swapImg(1,0,/*id*/'img9',/*url*/'button59.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img9',/*url*/'button58.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img9',/*url*/'button5A.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img9',/*url*/'button59.jpg')" width="93" height="23"></font></b><p>
							<b><font face="Verdana">Acil arama ile</font></b></p>
							<p><b><font face="Verdana">YAŞAM&#39;a</font></b></p>
							<p><b><font face="Verdana">Bağlanın</font></b></td>
						</tr>
					</table>
					</td>
				</tr>
				<tr>
					<td align="center" height="122"><a href="bebek.htm">
			<img border="0" src="images/uyuyanbebek.jpg" width="150" height="98"></a><p>
					<a href="bebek.htm">
					<img border="0" id="img15" src="buttonD1.jpg" alt="Bu Ayın Bebekleri" fp-style="fp-btn: Glass Rectangle 3; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Bu Ayın Bebekleri" onmouseover="FP_swapImg(1,0,/*id*/'img15',/*url*/'buttonD2.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img15',/*url*/'buttonD1.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img15',/*url*/'buttonD3.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img15',/*url*/'buttonD2.jpg')" width="150" height="20"></a></td>
				</tr>
			</table>
			<table border="1" width="100%" id="table14" height="129">
				<tr>
					<td align="center" height="123">
					<img border="0" src="images/portre.jpg" width="157" height="67"></td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td height="542" width="600" valign="top" style="border-style:none; border-width:medium; ">
			<table border="1" width="100%" id="table5" height="528">
				<tr>
					<td align="left" valign="top" height="276">
					<img border="0" id="img17" src="buttonDB.gif" alt="Güncel Haberler" onmouseover="FP_swapImg(1,0,/*id*/'img17',/*url*/'buttonDC.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img17',/*url*/'buttonDB.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img17',/*url*/'buttonDD.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img17',/*url*/'buttonDC.gif')" fp-style="fp-btn: Metal Tab 1; fp-font: Verdana; fp-font-size: 11; fp-transparent: 1; fp-proportional: 0" fp-title="Güncel Haberler" width="150" height="33"><p align="justify">
					&nbsp;<p align="justify">
					<font face="Verdana" style="font-size: 11pt; font-weight:700">
                    <a href="sendika.htm">Yaşam Hastanesi Anlaşmalı kurumlar 
                    listesi giderek genişliyor....</a></font><p align="justify">
					&nbsp;<p align="justify">
					<span style="font-weight: 700">
                    <font face="Verdana" color="#FF0000" size="3">
                    <a href="laser.htm"><font color="#FF0000">Laser Epilasyon</font></a>
                    </font><a href="laser.htm"><font face="Verdana" size="3" color="#0000FF">Yaşam&#39; 
                    da</font></a></span><p align="justify">
					<span style="font-weight: 700">
                    <font face="Verdana" size="3" color="#0000FF">
                    <a href="laser.htm">Botox-Kimyasal Peeling</a></font></span><p align="justify">
					<span style="font-weight: 700">
                    <font face="Verdana" size="3" color="#0000FF">
                    <a href="laser.htm">Dolgu</a></font></span><p align="justify">
					&nbsp;<p align="justify">
					<span style="font-weight: 700">
                    <font face="Verdana" style="font-size: 11pt" color="#FF0000">
                    <a href="tw.htm"><font color="#FF0000">Thermal Welding</font></a></font></span><p align="justify">
					<b>
                    <font face="Verdana" style="font-size: 11pt" color="#0000FF">
                    <a href="tw.htm">Burun etlerini küçültmeye&nbsp; yönelik kansız ve&nbsp; 
                    lokal uygulamalar</a>.. </font></b><p align="justify">
					<b>
                    <font face="Verdana" style="font-size: 11pt" color="#0000FF">
                    <a href="tw.htm">Kansız Bademcik ve endoskopik safra kesesi Ameliyatları</a>..</font></b></td>
					<td width="296" height="276">
					<div align="center">
						<table border="1" width="100%" id="table6" height="241">
							<tr>
								<td width="58" align="center">
								<a href="medikal_kadro.htm">
								<img border="0" src="images/dr.jpg" width="50" height="62"></a></td>
								<td align="center" valign="top">
								<a href="medikal_kadro.htm">
								<img border="0" id="img10" src="button68.jpg" alt="Medikal Kadro" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Medikal Kadro" onmouseover="FP_swapImg(1,0,/*id*/'img10',/*url*/'button69.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img10',/*url*/'button68.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img10',/*url*/'button6A.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img10',/*url*/'button69.jpg')" width="140" height="20"></a><p>&nbsp;</p>
								<p align="left"><font face="Verdana">
								Doktorlarımız hakkında kısa bilgiler.</font></td>
							</tr>
							<tr>
								<td width="58" align="center">
								<a href="klinikler.htm">
								<img border="0" src="images/dep.jpg" width="50" height="63"></a></td>
								<td align="center" valign="top">
								<a href="klinikler.htm">
								<img border="0" id="img11" src="button77.jpg" alt="Klinikler" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Klinikler" onmouseover="FP_swapImg(1,0,/*id*/'img11',/*url*/'button78.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img11',/*url*/'button77.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img11',/*url*/'button79.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img11',/*url*/'button78.jpg')" width="140" height="20"></a><p>&nbsp;</p>
								<p align="left"><font face="Verdana">Hastanemiz 
								departmanları ve kısa bilgiler.</font></td>
							</tr>
							<tr>
								<td width="58" align="center">
								<a href="anlasmali.htm">
								<img border="0" src="images/contractedfoundations.jpg" width="50" height="62"></a></td>
								<td align="center" valign="top">
								<a href="anlasmali.htm">
								<img border="0" id="img12" src="button86.jpg" alt="Anlaşmalı Kurumlar" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Anlaşmalı Kurumlar" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'button87.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'button86.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'button88.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'button87.jpg')" width="165" height="20"></a><p>&nbsp;</p>
								<p align="left"><font face="Verdana">MEDNET, 
								Anadolu Hayat, Palm Beach Hotel</font></td>
							</tr>
						</table>
					</div>
					</td>
				</tr>
				<tr>
					<td height="240" align="left" valign="top">
					<img border="0" id="img16" src="button21.gif" alt="YAŞAM'la yaşam" fp-style="fp-btn: Metal Tab 1; fp-font: Verdana; fp-font-size: 11; fp-transparent: 1; fp-proportional: 0" fp-title="YAŞAM'la yaşam" onmouseover="FP_swapImg(1,0,/*id*/'img16',/*url*/'button22.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img16',/*url*/'button21.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img16',/*url*/'button23.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img16',/*url*/'button22.gif')" width="150" height="33"><table border="1" width="288" id="table13" height="78">
						<tr>
							<td width="132" align="center">
							<a href="yasamla_yasam.htm">
							<img border="0" src="images/nevus.jpg" width="85" height="65"></a></td>
							<td align="center" width="140">
							<a href="yasamla_yasam.htm">
							<img border="0" src="compound_nevus.jpg" width="85" height="65"></a></td>
						</tr>
					</table>
					<p>
					<span style="font-family: Verdana">
					<span style="text-decoration: none">
					<font color="#000000">
					<a href="yasamla_yasam.htm">
					<span style="text-decoration: none"><font color="#000000" size="2">
					Benler </font>
                    <font color="#FF0000" size="2">
					(Nevus)</font><font color="#000000" size="2">
					çoğunlukla iyi huylu&nbsp;cilt oluşumları&nbsp;olmakla birlite bazen 
                    de&nbsp; malign (kötü huylu) değişim riski taşırlar.</font></span></a></font></span><font style="text-decoration: none" color="#000000" size="2">..</font></a></span><p>&nbsp;<p align="justify">
					<font color="#FF0000" size="3"><b>KUŞ GRİBİ (H5N1)</b></font><p align="justify">
					<span style="font-family: Verdana; color: black">
					<a href="guncel.htm"><span style="text-decoration: none">
					<font color="#000000" size="2">Halk 
					arasında tavuk vebası olarak ta bilinen kuş gribi “<span style="background-color: #DFDF00">Avian 
					influenza</span>” isimli virüslerin</font></span></a></span><a href="guncel.htm"><span lang="EN-US" style="font-family: Verdana; text-decoration:none"><font color="#000000" size="2"> 
					neden olduğu bir hastalıktır...</font></span></a><p align="justify">
					&nbsp;</td>
					<td width="296" height="240">
					<table border="1" width="100%" id="table7" height="232">
						<tr>
							<td width="60" align="center"><a href="galeri.htm">
							<img border="0" src="images/hastane.jpg" width="50" height="62"></a></td>
							<td align="center" valign="top">
							<a href="galeri.htm">
							<img border="0" id="img13" src="button8C.jpg" alt="Galeri" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Galeri" onmouseover="FP_swapImg(1,0,/*id*/'img13',/*url*/'button8D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img13',/*url*/'button8C.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img13',/*url*/'button8E.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img13',/*url*/'button8D.jpg')" width="140" height="20"></a><p>&nbsp;</p>
							<p align="left"><font face="Verdana">Hastanemizde 
							kısa bir tur atın.</font></td>
						</tr>
						<tr>
							<td width="60" align="center" height="80">
							<a href="iletisim.htm">
							<img border="0" src="images/contactus.jpg" width="50" height="62"></a></td>
							<td height="80" align="center" valign="top">
							<a href="iletisim.htm">
							<img border="0" id="img14" src="button8F.jpg" alt="İletişim" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="İletişim" onmouseover="FP_swapImg(1,0,/*id*/'img14',/*url*/'button90.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img14',/*url*/'button8F.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img14',/*url*/'button91.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img14',/*url*/'button90.jpg')" width="140" height="20"></a><p>&nbsp;</p>
							<p align="left"><font face="Verdana">Bizimle 
							bağlantıya geçin.</font><p>&nbsp;</td>
						</tr>
						<tr>
							<td width="60" align="center" height="70">
							<a href="hakkimizda.htm">
							<img border="0" src="images/hakkimizda.jpg" width="50" height="62"></a></td>
							<td height="70" align="center" valign="top">
							<a href="hakkimizda.htm">
							<img border="0" id="img19" src="button6F.jpg" alt="Hakkımızda" fp-style="fp-btn: Glass Rectangle 1; fp-font: Verdana; fp-font-size: 11; fp-proportional: 0" fp-title="Hakkımızda" onmouseover="FP_swapImg(1,0,/*id*/'img19',/*url*/'button70.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img19',/*url*/'button6F.jpg')" onmousedown="FP_swapImg(1,0,/*id*/'img19',/*url*/'button71.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img19',/*url*/'button70.jpg')" width="140" height="20"></a><p>&nbsp;</p>
							<p align="left"><font face="Verdana">Hastanemiz ve 
							tarihçesi.</font></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
		</tr>
		<tr>
			<td height="94" width="758" valign="bottom" colspan="2" style="border-style:none; border-width:medium; ">
							<table border="0" width="760" id="table1" height="17" cellspacing="0" cellpadding="0">
								<tr>
									<td align="center" valign="top" width="760"> 
									<a href="site_haritasi.htm">
									<img border="0" id="img8" src="button93.gif" alt="Site Haritası" fp-style="fp-btn: Braided Row 1; fp-transparent: 1" fp-title="Site Haritası" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button94.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button93.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button95.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button94.gif')" align="left" width="100" height="20"></a></td>
									<td align="center" valign="top" width="760"> 
									<p>
									<a href="mailto:bashekimlik@magusayasam.com">
                                    <img border="0" src="button39i.gif" width="240" height="38"></a></td>
								</tr>
								<tr>
									<td align="center" valign="top"> 
									<p align="left">
									<!--webbot bot="HitCounter" i-image="0" I-ResetValue="0" I-Digits="0" U-Custom startspan --><img src="_vti_bin/fpcount.exe/C:/Documents%20and%20Settings/A.%20E.%20Ersoy/My%20Documents/My%20Webs/yaşamhtml/?Page=index.htm|Image=0" alt="Hit Counter"><!--webbot bot="HitCounter" endspan i-checksum="33959" --></td>
									<td align="right"> 
									<p align="right">© Mağusa Yaşam Hastanesi, Tüm Hakları 
									Saklıdır.</td>
								</tr>
							</table>
							<p align="right"><font color="#336699">
									<a href="mailto:volkanbirtek@gmail.com,serefcanseref@gmail.com?subject=Contact Us...">
									<marquee width="751" scrolldelay="100" scrollamount="5">Mağusa Yaşam Hastanesi Web sitesi Volkan Birtek & Şerefcan D. Şeref tarafından hazırlanmıştır.</marquee></a></font></td>
			</tr>
	</table>
</div>
  
</BODY>
</HTML><!-- web26002.mail.ukl.yahoo.com compressed/chunked Thu Mar 16 21:27:26 GMT 2006 -->