<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Hakkari Valiliği</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="images/style.css" />
<style type="text/css">
<!--
body {
	background-color: #CC0000;
}
.style2 {font-size: 8pt}
#apDiv1 {
	position:absolute;
	left:803px;
	top:656px;
	width:79px;
	height:43px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:250px;
	top:653px;
	width:71px;
	height:35px;
	z-index:1;
}
.style29 {font-size: 9pt}
.style31 {color: #FFFFFF}
-->
</style>
<script type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body onload="MM_preloadImages('images/devam2.jpg','resimler/turkce2.jpg','resimler/eng2.jpg','images/turkce2.jpg','images/eng2.jpg')">
<div align="center">
<% 
<!--#include file="ZiyaretEdenleriKaydet.asp"-->
%>
  <table width="890" height="742" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td height="498" valign="top"><p align="center">
        </embed>
      &nbsp;
		<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="1042" height="649">
			<param name="movie" value="sehitler1.swf">
			<param name="quality" value="High">
			<embed src="sehitler1.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="1042" height="649"></object>
      </p>      </td>
    </tr>
    <tr>
      <td valign="top"><p align="center" class="style29"><strong><span class="style2">
		Hakkari Valiliği Resmi İnternet Sitesi, Valiliğimiz, Çalışmalarımız, 
		İlimiz ve çevresi hakkında detaylı bilgi bulabileceğiniz, bilgi 
		kaynağınızdır.</span><br />
      </strong><span class="style2"><strong>Site içerisinde bulunan bilgiler 
		Valiliğimiz tarafından derlenerek site içerisinde yayınlanmış olup resmi 
		nitelik taşımamaktadır. </strong></span></p>
        <p align="center" class="style2"><strong>T. C. HAKKARİ VALİLİĞİ © 
		2004-2008 - Tüm hakları saklıdır. İzinsiz ve kaynak gösterilmeden 
		kullanılamaz.<br />
          Tel: (0438) 211 60 10-211 40 80 Fax: (0438) 211 26 22 E-Mail : <span class="style31">
		hakkari@icisleri.gov.tr</span><br />
          Güncelleme : Abdullah Çelebi</strong></p>      </td>
    </tr>
  </table>
</div>


</body>
</html>
