﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<title>Ekoldesign - Ekol Mobilya </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	<meta http-equiv="imagetoolbar" content="no">
	<link rel="icon" href="http://www.ekoldekorasyon.com/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="http://www.ekoldekorasyon.com/favicon.ico" type="image/x-icon">

<link rel="stylesheet" type="text/css" href="assets/templates/ekol/temp/layout.css">	<link rel="stylesheet" type="text/css" href="assets/templates/ekol/temp/defaults.css">	<link rel="stylesheet" type="text/css" href="assets/templates/ekol/temp/lightbox.css">		<link rel="stylesheet" type="text/css" href="assets/templates/ekol/temp/sifr.css"><!--[if lt IE 7]>
	<link rel="stylesheet" type="text/css" href="/css/ie_lt_7.css" /><![endif]-->
<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/css/ie_all.css" /><![endif]-->
	<script type="text/javascript" src="assets/templates/ekol/temp/prototype.js"></script>	<script type="text/javascript" src="assets/templates/ekol/temp/builder.js"></script>	<script type="text/javascript" src="assets/templates/ekol/temp/scriptaculous.js"></script><script type="text/javascript" src="assets/templates/ekol/temp/effects.js"></script>		
	<script type="text/javascript" src="assets/templates/ekol/temp/swfobject.js"></script>			<script type="text/javascript" src="assets/templates/ekol/temp/lightbox.js"></script>	
	<script type="text/javascript" src="assets/templates/ekol/temp/kapaks.js"></script>		
	
</head><body>

<div style="display: none; height: 704px;" id="overloader"></div>
<div style="display: none;" id="loader"><span>sayfa yükleniyor...</span><img src="assets/templates/ekol/temp/loadpage.gif" alt="loading"></div>	
	
	<div id="main">
			<div id="header">
				<div id="logo">
					<img src="assets/images/logo.jpg" alt="Ekol Design">
					
				</div>
			</div>

 <div id="sections">
	 	<div id="section1"><img src="assets/templates/ekol/temp/euroline.jpg" alt="Euroline" border="0"></div>
	 	<div id="section2"><img src="assets/templates/ekol/temp/kenyap.jpg" alt="Kenyap" border="0" ></div>
	</div>

	<div id="middle-line">
		<div id="main_menu">Euroline | Kenyap | Hakkımızda | Referanslarımız | Bize Ulaşın
			</div>
		
	</div>

 	<div id="sub_sections">
			<div id="messages">
				
				</div>
				
			<div id="catalogue">
					<a href="#"><li>Download our catalogue</li></a>
					<a href="#"><li>Kataloğumuzu indirin</li></a>
				</div>
				
	</div>

	<div id="footer">
		<p> {{footer}}</p>
		<img src="assets/templates/ekol/temp/footer-line.jpg" alt="footer" border="0">
		
	</div>

	</div> <!-- Main div ends  -->
	
	
</body></html>